@using Dominio
@model Socio

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

@if (Model != null)
{
    <p>Cedula: @Model.Cedula</p>
    <p>Nombre: @Model.Nombre</p>
    <p>Fecha Nacimiento: @Model.FechaNac</p>
    <p>Fecha Ingreso: @Model.FechaIngreso</p>
}

<p>@ViewBag.msj</p>
@if (!ViewBag.tieneMensualidad)
{
    <a href="/mensualidad/AltaCuponera">Pagar Pase Libre</a>
    <a href="/mensualidad/AltaPaseLibre">Pagar Cuponera</a>
    <!--Falta ver las los ingresos del mes por una fecha dada-->
}
else
{
    <a href="/RegistroActividad/ListaHorariosDisponibles?cedula=@Model.Cedula">Ingresar Actividad</a>
    <!--Falta ver las los ingresos del mes por una fecha dada-->


}
